﻿.body {
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.container {
    background-color: #FFFFFF;
    flex-basis: 100%;
    flex-direction: column;
    margin-top: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu-page {
    padding: 10;
    background-color: #FFFFFF;
    align-items: center;
}

.menu-logo-holder > label {
        font-size: 16;
        text-align: center;
        margin-top: 10;
        flex-basis: 100%;
        flex-grow: 1;
        color: #b6ff00
    }

.menu-logo-holder {
    background-color: #FFFFFF;
    vertical-align: middle;
    align-content: center;
    margin-top: 30;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    border: groove;
}

.menu-footer-holder > label {
    font-size: 13;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
    flex-basis: 100%;
    flex-grow: 1;
    color: #0d274c;
}


.menu-grid {
    padding: 10;
    color: #0346A1;
    align-content: center;
}
.form-grid {
    padding: 0,0,0,0;
    color: #0d274c;
    align-content: center;
    font-size: 10
}


label.loggeduser {
    font-size: 13;
    font-weight: bold;
    color: #A93226;
    margin: 10 0;
}

label.appversion {
    font-size: 13;
    font-weight: bold;
    color: #A93226;
    margin: 10 0;
}

label.dashboard-title {
    font-size: 25;
    font-weight: bolder;
    color: CadetBlue;
    align-content: center;
    text-align: center;
}

label.sync-title {
    height: 100;
    font-size: 24;
    text-align: center;
    vertical-align: middle;
}

label.formentrytag {
    color: white;
    font-size: 14;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label.formentrytag2 {
    color: darkseagreen;
    font-size: 14;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label.formentrytagalt {
    color: #ffffff;
    font-size: 18;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label.forminfotag {
    color: #C70039;
    font-size: 18;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label.formentryinput {
    background-color: #ff00dc;
}

formentrypadding {
    margin: 0, 20, 10, 20;
}

.dashboard-menu-grid {
    padding: 10;
    color: #0d274c;
    align-content: center;
    font-size: 16;
}

.dashboard-grid {
    padding-top: 10;
    color: #0d274c;
    vertical-align: middle;
    align-content: center;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.home-logo-holder {
    vertical-align: middle;
    align-content: center;
    margin-top: 30;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.home-page-holder {
    background-color: #F4F6F9;
    vertical-align: middle;
    align-content: center;
    margin-top: 30;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.home-page-holder > label {
    font-size:18;
    font-weight: bolder;
    text-align: center;
    margin-top: 40;
    flex-basis: 100%;
    flex-grow: 1;
    color: #0d274c;
}

.home-page-version-holder > label {
    font-size: 18;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
    flex-basis: 100%;
    flex-grow: 1;
    color: #5D2ABB;
}

.homepage-grid {
    vertical-align: middle;
    align-content: center;
    margin-top: 30;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10 0;
}

.plan-grid {
    padding: 15;
    color: #2D27F3;
    font-size: 16;
    font-weight: bolder;
    margin: 10,0,10,0;
    align-content: center;
}

/* Common Style CSS*/
.entry.full,
label.full {
    flex-basis: 100%;
    flex-direction: row;
}

large-spacing {
    margin: 32;
}

.large-padding {
    Padding: 32;
}

.card-padding {
    padding: 8 10;
}

.card-spacing {
    margin: 20;
}

.card-padding-alt {
    padding: 8 5;
}

.card-spacing-alt {
    margin: 5;
}

.card-padding-alt2 {
    padding: 8 10;
}

.card-spacing-alt2 {
    margin: 10;
}

.activityprogress {
    color: #753BE4;
}

.quarter {
    flex-basis: 25%;
}

.three-quarter {
    flex-basis: 75%;
}

ActivityIndicator,
label.ActivityIndicator {
    vert-align: middle;
    horiz-align: center;
    padding: 16 0;
}

