﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.ListLookUpsVm;
@{ ViewBag.Title = "LookUps"; }

@{
    <h1 class="page-header"><strong><span class="fa fa-trash-arrow-up"></span> Child Remove Reasons  <small>Manage Child Remove Reasons</small></strong></h1>

    <div class="panel" data-sortable-id="ui-widget-11">
        <div class="panel-heading bg-teal-700 ui-sortable-handle text-white">
            <h4 class="panel-title"><strong>Listing</strong></h4>
        </div>
        <div class="panel-body" style="height: 50vh;">

            @if (TempData["MESSAGE"] != null)
            {
                <div class="alert alert-@TempData["KEY"] alert-dismissible fade show rounded-0 mb-0">
                    <div class="d-flex">
                        <i class="fa fa-info-circle fa-2x me-1"></i>
                        <div class="mb-0 ps-2">
                            @TempData["MESSAGE"]
                        </div>
                    </div>
                    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
                </div>
            }
            <br />


            <div class="row">
                <div style="padding-bottom:20px">
                    <form class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <input asp-for="Search" class="form-control" id="Lkp_Lookup" placeholder="Search">
                        </div>
                        <div class="form-check mb-1 me-sm-2">
                            <input type="checkbox" asp-for="IncludeRemoved">
                            <label class="form-check-label" for="customControlInline"><strong>Include Removed</strong></label>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Filter <i class="fa fa-search"></i></button>
                            <a type="button" asp-action="Create" class="btn btn-green">Create <i class="fa fa-plus"></i></a>
                        </div>
                    </form>
                </div>
            </div>

            <hr>
            <div class="row" style="max-height: 50vh; min-height: 50vh; ">
                <div class="table-responsive">
                    <table class="table table-responsive-sm table-striped table-hover mb-0 align-middle">
                        <thead>
                            <tr>
                                <th width="20%"><b>NAME</b></th>
                                <th width="20%"><b>DESCRIPTION</b></th>
                                @*<th width="20%"><b>PUBLIC DESCRIPTION</b></th>*@
                                <th width="20%"><b>ACTIVE</b></th>
                                <th width="20%"><b>ACTIONS</b></th>
                            </tr>
                        </thead>
                        @if (Model.ChildRemoveReasonList.Count > 0)
                        {
                            @foreach (var item in Model.ChildRemoveReasonList)
                            {
                    <tr>
                        <td width="20%"><strong class="text-blue-700">@Html.DisplayFor(modelItem => item.Child_Remove_Reason)</strong></td>
                        <td width="20%"><strong class="text-blue-700">@Html.DisplayFor(modelItem => item.Description)</strong></td>
                        @*<td width="20%"><strong class="text-blue-700">@Html.DisplayFor(modelItem => item.Public_Description)</strong></td>*@
                        <td width="20%"><strong class="text-blue-700" style="color: teal">@Html.DisplayFor(modelItem => item.Active)</strong></td>
                        <td nowrap="" width="20%">
                            <div class="btn-group">
                                <a href="#" class="btn btn-info btn-sm w-90px">Actions</a>
                                <a href="#" class="btn btn-info btn-sm dropdown-toggle w-30px no-caret" data-bs-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a asp-action="Edit" asp-route-id="@item.Child_Remove_Reason_Code_ID" class="dropdown-item"> Edit </a>
                                    <div class="dropdown-divider"></div>
                                    <a asp-action="Details" asp-route-id="@item.Child_Remove_Reason_Code_ID" class="dropdown-item modal-link">Details</a>
                                    @if (item.Active)
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a asp-action="Remove" asp-route-id="@item.Child_Remove_Reason_Code_ID" class="dropdown-item modal-link">Remove</a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" align="center"><strong>No records to display</strong></td>
                            </tr>
                        }
                    </table>

                    <br /><br />
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="dataTables_info" id="data-table-default_info" role="status" aria-live="polite">
                                <span class="text-muted-500">Page @(Model.ChildRemoveReasonList.PageCount < Model.ChildRemoveReasonList.PageNumber ? 0 : Model.ChildRemoveReasonList.PageNumber) of @Model.ChildRemoveReasonList.PageCount</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="dataTables_info" id="data-table-default_info" role="status" aria-live="polite">
                                <span class="text-muted-500">Showing @Model.ChildRemoveReasonList.Count of @Model.ChildRemoveReasonList.TotalItemCount entries</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="data-table-default_paginate">
                                @Html.PagedListPager(Model.ChildRemoveReasonList, page => Url.Action("Index",
                                        new { page, Model.IncludeRemoved }),
                                        new X.PagedList.Web.Common.PagedListRenderOptions()
                                        {
                                            LiElementClasses = new string[] { "page-item" },
                                            PageClasses = new string[] { "page-link" }
                                        })
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function (e) {





        });

    </script>
}
