.hummingbird-treeview,
.hummingbird-treeview * {
    list-style: none;
    font-size: 12px;
    line-height: 24px;
}

    .hummingbird-treeview label {
        font-weight: normal;
    }


    .hummingbird-treeview input[type=checkbox] {
        width: 13px;
        height: 13px;
        padding: 0px;
        margin: 0px;
    }


    .hummingbird-treeview .fa {
        font-style: normal;
        cursor: pointer;
        color: lightslategray;
        
    }
        .hummingbird-treeview .fa.fa-folder, .hummingbird-treeview .fa.fa-folder-open {
            color: ;
        }


.hummingbird-treeview {
    max-height: 75vh;
    overflow-y: scroll
}