﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.parentloginpanel {
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
}

.childloginpanel {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

hr.white {
    border-top: 0.2px solid white;
}

.scrollablediv {
    height: 400px;
    overflow: auto;
}

.isRequired {
    font-size: 16px;
    color: red;
}

.table-index td {
    color: #1d24a9;
    font-weight: 500
}

.navigationbar {
    background: src(../img/feed-logo2.jpg)
}

html, body {
    height: 100%;
}

.main-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    height: 25px;
    z-index: 1032;
    text-align: center;
    vertical-align: middle;
    background-color: #2d353c;
}

table.custom td {
    font-size: 90%;
}

.required:after {
    content: " *";
    color: red;
}

.logoutpanel {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: #f7f7f7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}