﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.LivesWithLookUpVm;
@{
    ViewData["Title"] = "Edit";
}


@{
    <h1 class="page-header"><strong><span class="fa fa-person-booth"></span> Lives With  <small>Edit</small></strong></h1>

    <div class="panel" data-sortable-id="ui-widget-11">
        <div class="panel-heading bg-teal-700 ui-sortable-handle text-white">
            <h4 class="panel-title"><strong>Edit Lives With</strong></h4>
        </div>
        <div class="panel-body" style="height: auto;">

            @if (TempData["MESSAGE"] != null)
            {
                <div class="alert alert-@TempData["KEY"] alert-dismissible fade show rounded-0 mb-0">
                    <div class="d-flex">
                        <i class="fa fa-circle-info fa-2x me-1"></i>
                        <div class="mb-0 ps-2">
                            @TempData["MESSAGE"]
                        </div>
                    </div>
                    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
                </div>
            }
            <br />

            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="row col-md-4">

                <form asp-action="Edit" method="POST">

                    <input type="hidden" asp-for="Lives_With_Code_ID" />

                    <fieldset>
                        <div class="row">
                            <div class="form-group">
                                <strong><label asp-for="Lives_With" class="control-label required"></label></strong>
                                <input asp-for="Lives_With" class="form-control" />
                                <span asp-validation-for="Lives_With" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <strong><label asp-for="Description" class="control-label required"></label></strong>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <strong><label asp-for="Public_Description" class="control-label"></label></strong>
                                <input asp-for="Public_Description" class="form-control" />
                                <span asp-validation-for="Public_Description" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <strong><label asp-for="Min_Age" class="control-label"></label></strong>
                                <input asp-for="Min_Age" class="form-control" />
                                <span asp-validation-for="Min_Age" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <input asp-for="Active" class="form-check-input" type="checkbox">
                                <strong><label asp-for="Active" class="control-label"></label></strong>
                                <span asp-validation-for="Active" class="text-danger"></span>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary w-100px">Update</button>
                                        <a type="button" asp-action="Index" class="btn btn-black w-100px">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

}


@section scripts{
    <script type="text/javascript">
    </script>
}
