﻿@section scripts
{

}

@{
    <div class="hidden">
        <input type="hidden" id="RootUrl" value="@Url.Content("~/")" />
        <script src="~/seantheme/color-admin/admin/assets/js/vendor.min.js"></script>
        <script src="~/seantheme/color-admin/admin/assets/js/app.min.js"></script>
        <script src="~/seantheme/color-admin/admin/assets/plugins/d3/d3.min.js"></script>
        <script src="~/seantheme/color-admin/admin/assets/plugins/nvd3/build/nv.d3.min.js"></script>
        <script src="~/seantheme/color-admin/admin/assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
        <script src="~/seantheme/color-admin/admin/assets/plugins/jvectormap-next/jquery-jvectormap-world-mill.js"></script>
        <script src="~/seantheme/color-admin/admin/assets/plugins/simple-calendar/dist/jquery.simple-calendar.min.js"></script>
        @*<script src="~/seantheme/color-admin/admin/assets/plugins/gritter/js/jquery.gritter.js"></script>*@
        <script src="~/seantheme/color-admin/admin/assets/js/demo/dashboard-v2.js"></script>
        <script src="~/seantheme/color-admin/admin/assets/js/demo/login-v2.demo.js"></script>
        <script src="~/js/pangea.js"></script>
        <script src="~/js/jstree.js"></script>
        <script src="~/js/hummingbird-treeview.js"></script>
    </div>
    <div>
        <div class="text-white pull-right" style="padding-top: 5px;">
            <span><strong class="text-white"><small>COPYRIGHT &copy; @DateTime.Now.ToString("yyyy") PANGEA ADMIN. ALL RIGHTS RESERVED.</small></strong></span>
        </div>
    </div>
}



<style type="text/css">
    @if ((string) ViewContext.RouteData.DataTokens["area"] == null && (string)ViewContext.RouteData.Values["controller"] == "Home")
    {
        @(".main-container, .page-container, .main-content { background: #f5f5f5 !important; }" )

    }

</style>

<script type="f37da31f465e3608e2c79a17-text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53034621-1', 'auto');
    ga('send', 'pageview');
</script>

<script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"6dde6047febf4f6f","version":"2021.12.0","r":1,"token":"4db8c6ef997743fda032d4f73cfeff63","si":100}'
        crossorigin="anonymous">
</script>

@{ var scheme = Context.Request.Scheme;
    var pathBase = Context.Request.Host;
    var url = Context.Request.Path;
    var insidersublink = scheme + "://" + pathBase + url; }
<script type="text/javascript">
    var insidersublink = '@insidersublink';
    $(".main-menu>li>ul>li a ").each(function ()
    {
            if (this.href.indexOf(insidersublink) > -1) {
                $(this).addClass("menu-active");
                if ($(this).parents().hasClass("has-sub")) {
                    $(this).parent().addClass("active");
                }
                if ($(this).parents().hasClass("collapse")) {
                    $(this).parents().addClass("in").attr("aria-expanded","true");
                }
            }

    });

    function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);


    }

</script>
