﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<PANGEA.DAL.Models.User> SignInManager
@inject UserManager<PANGEA.DAL.Models.User> UserManager

@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Pangea Web Portal">
        <meta name="author" content="Pangea Devs">

        <title> @Configuration["HostingSettings:SystemName"]</title>
        <partial name="_Head" />
    </head>


    <body>

        <div id="app" class="app app-header-fixed app-sidebar-fixed">

            <div id="header" class="app-header" style="background-color: #2d353c;">

                <div class="navbar-header">
                    <img class="navbar-brand" src="~/img/feed-logo3.png" alt="logo" style="height:90px;">
                    <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div class="navbar-nav">
                    <div class="navbar-item" style="padding-right: 50px;">
                        <h4><span class="text-white-100"><b>PANGEA ADMIN</b></span></h4>
                    </div>

                    <partial name="_LoginPartial" />

                </div>
            </div>

            <div id="sidebar" class="app-sidebar">

                <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">

                    <div class="menu">
                        <div class="menu-profile">
                        </div>

                        <div id="appSidebarProfileMenu" class="collapse">
                        </div>

                        <partial name="_Sidebar" />




                        <div class="menu-item d-flex">
                            <a href="javascript:;" class="app-sidebar-minify-btn ms-auto"
                               data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="app-sidebar-bg"></div>
            <div class="app-sidebar-mobile-backdrop">
                <a href="#" data-dismiss="app-sidebar-mobile"
                   class="stretched-link"></a>
            </div>

            <div id="content" class="app-content">
                @RenderBody()
            </div>

            <footer class="main-footer">
                <partial name="_Footer" />
                @RenderSection("scripts", required: false)
            </footer>



            <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top"
               data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
        </div>

        <div class="modal fade-in" data-backdrop="static" data-keyboard="false" id="popup"></div>

    </body>
</html>
}