﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.Models.User;


@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }


<div class="modal-body">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th width="30%">Name</th>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <th width="30%">Email</th>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
    <br />
</div>


<div class="modal-footer">
    <form asp-action="Deactivate" asp-route-id="@Model.Id">
        <input type="hidden" asp-for="Id" />

        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"> Close</button>
        <button type="submit" class="btn btn-danger"> Deactivate </button>
    </form>

</div>



@section scripts{
    <script type="text/javascript">
    </script>
}