﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.UserVm;
@{
    ViewData["Title"] = "Edit";
}


@{
    <h1 class="page-header"><strong><span class="fa fa-cog"></span> Users  <small>Edit</small></strong></h1>

    <div class="panel" data-sortable-id="ui-widget-11">
        <div class="panel-heading bg-teal-700 ui-sortable-handle text-white">
            <h4 class="panel-title"><strong>Edit User</strong></h4>
        </div>
        <div class="panel-body" style="height: 75vh;">

            @if (TempData["MESSAGE"] != null)
            {
                <div class="alert alert-@TempData["KEY"] alert-dismissible fade show rounded-0 mb-0">
                    <div class="d-flex">
                        <i class="fa fa-check fa-2x me-1"></i>
                        <div class="mb-0 ps-2">
                            @TempData["MESSAGE"]
                        </div>
                    </div>
                    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
                </div>
            }
            <br />

            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="row">

                <form asp-action="Edit" method="POST">

                    <input type="hidden" asp-for="UserId" />

                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="FirstName" class="control-label required"></label></strong>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="MiddleName" class="control-label"></label></strong>
                                    <input asp-for="MiddleName" class="form-control" />
                                </div>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="Surname" class="control-label required"></label></strong>
                                    <input asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="Email" class="control-label required"></label></strong>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="Title" class="control-label required"></label></strong>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="UserId" class="control-label required"></label></strong>
                                    <input asp-for="UserId" class="form-control" />
                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="Department" class="control-label required"></label></strong>
                                    <input asp-for="Department" class="form-control" />
                                    <span asp-validation-for="Department" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="RoleName" class="control-label required"></label></strong>
                                    <select asp-for="RoleName" class="form-control required" asp-items="ViewBag.Roles">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label class="control-label">User Default Password</label><span class="text-muted">  Share this default password with the user</span></strong>
                                    <input type="text" value="Password123!&#64&#35" class="form-control" readonly />

                                </div>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <strong><label asp-for="Locations" class="control-label required"></label></strong>
                                    <table id="userGroupsTable" class="table table-bordered table-sm">

                                        <tr>
                                            <th> Select </th>
                                            <th> Country  </th>
                                        </tr>
                                        <tbody id="UserGroupsTableBody">
                                            @{
                                                int i = 0;
                                                foreach (var item in Model.Locations)
                                                {
                                                    <tr class="row-select">
                                                        <td class="tdlocation">
                                                            <input type="checkbox" asp-for="@Model.Locations[i].IsSelected" />
                                                        </td>
                                                        <td>
                                                            @item.Display
                                                            <input type="hidden" asp-for="Locations[i].Id" />
                                                        </td>
                                                    </tr>
                                                    i += 1;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <span asp-validation-for="Locations" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary w-100px">Update</button>
                                        <a type="button" asp-action="Index" class="btn btn-black w-100px">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

}


@section scripts{
    <script type="text/javascript">
        //$("form").on('submit', function (e) {

        //    var tableControl = $('#userGroupsTable');
        //    var selectedValues = [];

        //    $('input:checkbox:checked', tableControl).each(function () {
        //        selectedValues.push($(this).closest('tr').find('td:last').text());
        //    }).get();

        //    $('#spanUserCountriesValidation').css({ "display": "none" });
        //    if (selectedValues.length == 0) {
        //        e.preventDefault();
        //        e.returnValue = false;

        //        $('#spanUserCountriesValidation').css({ "display": "block"});
        //    }

        //    alert(selectedValues.length);

        //    //e.preventDefault();
        //    //e.returnValue = false;

        //    //$('.row-select input:checked').each(function () {
        //    //    var id, name;
        //    //    location = $(this).closest('tr').find('.tdlocation').html();

        //    //    alert('location: ' + location);
        //    //})


        //    //alert("Hijack!")
        //});
    </script>
}
