﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.ListUsersVm;
@{ ViewBag.Title = "Users"; }


@{
    <h1 class="page-header"><strong><span class="fa fa-cog"></span> Users  <small>Manage Users</small></strong></h1>

    <div class="panel" data-sortable-id="ui-widget-11">
        <div class="panel-heading bg-teal-700 ui-sortable-handle text-white">
            <h4 class="panel-title"><strong>Listing</strong></h4>
        </div>

        <div class="panel-body" style="height: 75vh;">

            @if (TempData["MESSAGE"] != null)
            {
                <div class="alert alert-@TempData["KEY"] alert-dismissible fade show rounded-0 mb-0">
                    <div class="d-flex">
                        <i class="fa fa-circle-info fa-2x me-1"></i>
                        <div class="mb-0 ps-2">
                            @TempData["MESSAGE"]
                        </div>
                    </div>
                    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
                </div>
            }
            <br />


            <div class="row">
                <div style="padding-bottom:20px">
                    <form class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <input asp-for="Email" class="form-control" id="Lkp_Lookup" placeholder="Search">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Filter <i class="fa fa-search"></i></button>
                            <a type="button" asp-action="Create" class="btn btn-green">Create <i class="fa fa-plus"></i></a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" style="max-height: 50vh; min-height: 50vh;">
                <div class="table-responsive">
                    <table class="table table-responsive-sm table-striped table-hover mb-0 align-middle">
                        <thead>

                            <tr>
                                <th width="20%"><b>NAME</b></th>
                                <th width="20%"><b>EMAIL</b></th>
                                <th width="20%"><b>GROUP</b></th>
                                <th width="20%"><b>STATUS</b></th>
                                <th width="60%"><b>ACTIONS</b></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td width="20%"><strong class="text-blue-700">@Html.DisplayFor(modelItem => item.FullName)</strong></td>
                                <td width="20%"><strong class="text-blue-700">@Html.DisplayFor(modelItem => item.Email)</strong></td>
                                <td width="20%"><strong class="text-blue-700">@Html.DisplayFor(modelItem => item.Role.Name)</strong></td>
                                @if (item.IsActive)
                                {
                                    <td><strong class="text-blue-700">Active</strong></td>

                                }
                                else
                                {
                                    <td><strong class="text-blue-700">Inactive</strong></td>

                                }
                                <td nowrap="" width="60%">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-info btn-sm w-90px">Actions</a>
                                        <a href="#" class="btn btn-info btn-sm dropdown-toggle w-30px no-caret" data-bs-toggle="dropdown">
                                            <span class="caret"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item"> Edit </a>
                                            <div class="dropdown-divider"></div>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item modal-link">Details</a>
                                            <div class="dropdown-divider"></div>
                                            @if (!item.IsActive)
                                            {
                                                <a asp-action="Activate" asp-route-id="@item.Id" class="dropdown-item modal-link">Activate</a>

                                            }
                                            else
                                            {
                                                <a asp-action="Deactivate" asp-route-id="@item.Id" class="dropdown-item modal-link">Deactivate</a>
                                            }
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="dataTables_info" id="data-table-default_info" role="status" aria-live="polite">
                        <span class="text-muted-500">Page @(Model.Users.PageCount < Model.Users.PageNumber ? 0 : Model.Users.PageNumber) of @Model.Users.PageCount</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="dataTables_info" id="data-table-default_info" role="status" aria-live="polite">
                        <span class="text-muted-500">Showing @Model.Users.Count of @Model.Users.TotalItemCount entries</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="data-table-default_paginate">
                        @Html.PagedListPager(Model.Users, page => Url.Action("Index",
                                new { page }),
                                new X.PagedList.Web.Common.PagedListRenderOptions()
                                {
                                    LiElementClasses = new string[] { "page-item" },
                                    PageClasses = new string[] { "page-link" }
                                })
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <a type="button" asp-action="Index" class="btn btn-teal"> <i class="fa fa-list"></i>   Back To List</a>
                </div>
            </div>

        </div>
    </div>

}
