﻿@{ ViewBag.Title = "Home"; }

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; 
}


@{
    <div class="logoutpanel" style="padding-top: 10vh;height: 50vh;width: 60vh; background-color: inherit">
        <div class="widget-list rounded mb-4" data-id="widget">

            <div class="widget-list-item">
                <div class="widget-list-media">
                    <img src="~/img/logo.jpg" width="100" alt="" class="rounded">
                </div>
                <div class="widget-list-content">
                    <h4 class="widget-list-title" style="font-size: 18px;">Welcome to Pangea Admin!</h4>
                    <hr />
                    <p class="widget-list-desc text-teal-900"><strong><small>Application Manager Module Version 1.0.0</small></strong></p>
                </div>
            </div>


            @*<div class="widget-list-item">
                <div class="widget-list-content">
                    <div class="mb-0 ps-6 align-items-center">
                        <a asp-area="Identity" asp-page="/Account/Logout" class="btn btn-outline-white d-block w-100 h-45px btn-lg" > <i class="fa fa-lock-open"></i> Sign Out</a>

                    </div>
                </div>
            </div>*@

        </div>
    </div> 
}



@section scripts {
    <script type="text/javascript">
        $(document).ready(function (e) {





        });

    </script>
}