﻿<div class="  col-md-12">
    <a asp-action="Index" class="btn  btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
    <button type="submit" class="btn    btn-success"> <i class="fa fa-send"></i>  Save </button>
</div>
