﻿@model dynamic

<div class="  col-md-12">
    <a asp-action="Index" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to List</a>

    @*<a asp-action="Edit" , new { @id=Model })" class="btn btn-primary "><i class="fa fa-edit"></i> Edit </a>
    <a asp-action="Delete" , new { @id=Model })" class="btn btn-danger "><i class="fa fa-trash-o"></i> Delete</a>*@
</div>