﻿@model dynamic

<a class="btn btn-success btn-xs" data-placement="top" title="View Details" asp-action="Details" asp-route-id="@Model"><i class="fa fa-eye"></i></a>
<a class="btn btn-primary btn-xs" data-placement="top" title="Edit" asp-action="Edit" asp-route-id="@Model"><i class="fa fa-edit"></i></a>
<a class="btn btn-danger btn-xs" data-placement="top" title="Delete" asp-action="Delete" asp-route-id="@Model"><i class="fa fa-trash-o"></i></a>
