﻿@model int?

<a class="btn btn-success btn-xs" data-placement="top" title="View Details" asp-action="Details" asp-route-id="@Model">
    <i class="fa fa-eye"></i>
</a>
<a class="btn btn-primary btn-xs" data-placement="top" title="Edit" asp-action="Edit" asp-route-id="@Model">
    <i class="fa fa-edit"></i>
</a>
