﻿<div class="row">
    <div class="col-md-12">
        
        <div class="alert alert-info">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>*@
            <strong>Important Notice!</strong>
            
            <p>
                Notice
            </p>
        </div>
    </div>
</div>