﻿@page
@model PANGEA.WEB.Areas.Identity.Pages.Account.ChangePasswordModel


@{ ViewBag.Title = "Reset Password"; }

@{

    <div class="login login-v2 fw-bold">

        <div class="login-cover">
            <div class="login-cover-img" style="background-image: url(../assets/img/login-bg/login-bg-17.jpg)" data-id="login-cover-image"></div>
            <div class="login-cover-bg"></div>
        </div>


        <div class="login-container">

            <div class="login-header">
                <div class="brand">
                    <div class="d-flex align-items-center">
                        <h2>PANGEA  WEB PORTAL</h2>
                    </div>
                    <small>Reset password to continue</small>
                </div>
                <div class="icon">
                    <i class="fa fa-user-lock"></i>
                </div>
            </div>


            <div class="login-content">
                <form id="changepassword" method="post">
                    <div class="form-floating mb-20px">
                        <input id="OldPassword" class="form-control fs-13px h-45px border-0" asp-for="Input.OldPassword" type="password" name="OldPassword" placeholder="Old Password" />
                        <label for="OldPassword" class="d-flex align-items-center text-gray-600 fs-13px">Old Password</label>
                    </div>
                    <div class="form-floating mb-20px">
                        <input id="NewPassword" class="form-control fs-13px h-45px border-0" asp-for="Input.NewPassword" type="password" name="NewPassword" placeholder="New Password" />
                        <label for="NewPassword" class="d-flex align-items-center text-gray-600 fs-13px">New Password</label>
                    </div>
                    <div class="form-floating mb-20px">
                        <input id="ConfirmPassword" class="form-control fs-13px h-45px border-0" asp-for="Input.ConfirmPassword" type="password" name="ConfirmPassword" placeholder="Confirm Password" />
                        <label for="ConfirmPassword" class="d-flex align-items-center text-gray-600 fs-13px">Confirm Password</label>
                    </div>
                    <div class="mb-20px">
                        <button type="submit" class="btn btn-success d-block w-100 h-45px btn-lg">Reset Password</button>
                    </div>

                    <div class="form-check mb-20px">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </form>
            </div>

        </div>

    </div>
}