﻿@page
@model PANGEA.WEB.Areas.Identity.Pages.Account.LoginModel


@{ ViewBag.Title = "Sign in"; }

@{

    <div class="login login-v2 fw-bold">

        <div class="login-cover">
            <div class="login-cover-img" style="background-image: url(../assets/img/login-bg/login-bg-17.jpg)" data-id="login-cover-image"></div>
            <div class="login-cover-bg"></div>
        </div>


        <div class="login-container">
            <div class="login-content">
                <div asp-validation-summary="All" class="text-danger"></div>

                @if (TempData["MESSAGE"] != null)
                {
                    <div class="text-info-700"><span>@TempData["MESSAGE"]</span></div>
                }
            </div>
            <br />
            <div class="login-header">
                <div class="brand">
                    <div class="d-flex align-items-center">
                        <h2>PANGEA ADMIN</h2>
                    </div>
                    <small>Sign in using your email address to continue</small>
                </div>
                <div class="icon">
                    <i class="fa fa-user-lock"></i>
                </div>
            </div>


            <div class="login-content">
                <form id="login" method="post">
                    <div class="form-floating mb-20px">
                        <input id="email" class="form-control fs-13px h-45px border-0" asp-for="Input.Email" type="email" name="email" value="danetopot@gmail.com" placeholder="Email Address" />
                        <label for="emailAddress" class="d-flex align-items-center text-gray-600 fs-13px">Email Address</label>
                    </div>
                    @*<div class="form-floating mb-20px">
                        <input id="password" class="form-control fs-13px h-45px border-0" asp-for="Input.Password" type="password" name="password" placeholder="Password" />
                        <label for="password" class="d-flex align-items-center text-gray-600 fs-13px">Password</label>
                    </div>*@
                    <div class="form-check mb-20px">
                        <input class="form-check-input border-0" type="checkbox" value="1" id="rememberMe" />
                        <label class="form-check-label fs-13px text-gray-500" for="rememberMe">
                            Remember Me
                        </label>
                    </div>
                    <div class="mb-20px">
                        <button type="submit" class="btn btn-success d-block w-100 h-45px btn-lg">Sign In</button>
                    </div>


                </form>
            </div>

        </div>

    </div>
}

@section scripts{ 

}