﻿@page
@model PANGEA.WEB.Areas.Identity.Pages.Account.LogoutModel
@{ ViewData["Title"] = "Sign Out"; }

@{ Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }


@{

                <div class="logoutpanel" style="padding-top: 10vh;height: 50vh; background-color: inherit">
                    <div class="widget-list rounded mb-4" data-id="widget">

                        <div class="widget-list-item">
                            <div class="widget-list-media">
                                <img src="~/img/settings.png" width="100" alt="" class="rounded">
                            </div>
                            <div class="widget-list-content">
                                <h4>
                                    You have Signed Out!
                                </h4>
                                <p class="widget-list-desc text-teal"><strong>Sign in with your email address to continue</strong></p>
                            </div>
                        </div>

                        <div class="widget-list-item">
                            <div class="widget-list-content">
                                <div class="mb-0 ps-6 align-items-center">
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success d-success w-100 h-45px btn-lg"> <i class="fa fa-lock-open"></i> Sign In</a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    }

@section scripts{

}