﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.Models.UserRole;
@{
    ViewData["Title"] = "Edit";
}


@{
    <h1 class="page-header"><strong><span class="fa fa-cog"></span> User Profile  <small>Edit</small></strong></h1>

    <div class="panel" data-sortable-id="ui-widget-11">
        <div class="panel-heading bg-teal-700 ui-sortable-handle text-white">
            <h4 class="panel-title"><strong>Edit User Profile</strong></h4>
        </div>
        <div class="panel-body" style="height: 75vh;">

            @if (TempData["MESSAGE"] != null)
            {
                <div class="col-md-6 alert alert-@TempData["KEY"] alert-dismissible fade show rounded-0 mb-0">
                    <div class="d-flex">
                        <i class="fa fa-info-circle fa-2x me-1"></i>
                        <div class="mb-0 ps-2">
                            @TempData["MESSAGE"]
                        </div>
                    </div>
                    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
                </div>
            }
            <br />

            <div class="row">
                <form asp-action="Edit">

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CreatedOn" />
                    <input type="hidden" asp-for="CreatedById" />

                    <fieldset>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <strong><label asp-for="Name" class="control-label required"></label></strong>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <strong><label asp-for="Description" class="control-label"></label></strong>
                                    <textarea asp-for="Description" class="form-control" rows="2" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <strong><label asp-for="IsExternal" class="control-label"></label></strong>
                                    <input asp-for="IsExternal" class="form-check-input" type="checkbox">
                                    <span asp-validation-for="IsExternal" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary w-100px">Update</button>
                                        <a type="button" asp-action="Index" class="btn btn-black w-100px">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>



        </div>
    </div>

}
