﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.UserProfileVm;
@{ ViewBag.Title = "LookUps"; }

@{
    <h1 class="page-header"><strong><span class="fa fa-cog"></span> User Roles  <small>Manage Roles</small></strong></h1>

    <div class="panel" data-sortable-id="ui-widget-11">
        <div class="panel-heading bg-teal-700 ui-sortable-handle text-white">
            <h4 class="panel-title"><strong>Listing</strong></h4>
        </div>
        <div class="panel-body">

            @if (TempData["MESSAGE"] != null)
            {
                <div class="alert alert-@TempData["KEY"] alert-dismissible fade show rounded-0 mb-0">
                    <div class="d-flex">
                        <i class="fa fa-check fa-2x me-1"></i>
                        <div class="mb-0 ps-2">
                            @TempData["MESSAGE"]
                        </div>
                    </div>
                    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
                </div>
            }
            <br />

            <div class="row"  style="height: 75vh;">
                <form asp-action="Save">
                    <div class="form-group col-md-12">
                        <strong><label asp-for="UserRoleId" class="control-label"></label></strong>
                        <select asp-for="UserRoleId" class="form-control onchange" asp-items="ViewBag.RoleId"></select>
                        <a class="CurrentRootUrl" href="~/admin/manage/profiles/"></a>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div id="tree">
                            <ul id="treeData" class="hummingbird-treeview" style="display: block; max-height: 50vh; min-height: 50vh;">
                                <li>
                                    <i class="fa fa-caret-right"></i>
                                    <input class="grandparent" rel="0" value="0" name="AllRights[]" type="checkbox" />

                                    <i class="fa fa-folder"></i> <small>All Modules</small>
                                    <ul class="hummingbird-treeview-inner">
                                        @foreach (var item in Model.SystemTasks)
                                        {
                                            <li id="@item.Id" class="folder">
                                                <i class="fa fa-caret-right"></i>
                                                @if (Model.UserRoleProfileIds.Contains(item.Id))
                                                {
                                                    <input class="parent" rel="@item.Id" value="@item.Id" name="Ids[]" type="checkbox" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input class="parent" rel="@item.Id" value="@item.Id" name="Ids[]" type="checkbox" />
                                                }
                                                <i class="fa fa-folder-open"></i> <span class="text-blue-900"><b>@item.Name</b></span>
                                                <ul>
                                                    @foreach (var child in item.Children.OrderBy(c => c.Order))
                                                    {

                                                        <li id="3">

                                                            @if (Model.UserRoleProfileIds.Contains(child.Id))
                                                            {
                                                                <input value="@child.Id" name="Ids[]" type="checkbox" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input value="@child.Id" name="Ids[]" type="checkbox" />
                                                            }
                                                            @child.Name
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="form-group">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary w-100px">Save</button>
                                <a type="button" asp-action="Index" class="btn btn-black w-100px">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            
        </div>
    </div>
}

@section scripts{
    <script>
        $('.onchange').on('change', function () {
            window.location = $('.CurrentRootUrl').attr('href') + $(".onchange option:selected").val();
        });
        $('input').on('ifChanged', function (event) {
            $(event.target).trigger('change');
        });
        $('input.parent, input.grandparent, input.child').change(function () {
            $(this).siblings().find("input[type='checkbox']").prop('checked', this.checked);
        });
        //$('body').on('click', '#treeData input', function () {
        //    $(this).parent('li').parent('li')
        //        .find(".parent")
        //        .prop('checked',false);
        //});

       $('.hummingbird-treeview-inner ul').hide();

        $(".hummingbird-treeview i.fa.fa-caret-right,.hummingbird-treeview i.fa.fa-caret-down ").click(function () {
            $(this).parent().find('ul').slideToggle();
            if ($(this).hasClass('fa-caret-right')) {
                $(this).addClass('fa-caret-down');
                $(this).removeClass('fa-caret-right');
            } else {
                $(this).addClass('fa-caret-right');
                $(this).removeClass('fa-caret-down');
            }
        });
    </script>
}