﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.Models.UserRole;


@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }


<div class="modal-body">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th width="30%">Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th width="30%">Description</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th width="30%">Is External?</th>
                <td>@Html.DisplayFor(modelItem => Model.IsExternal)</td>
            </tr>
        </tbody>
    </table>
    <br />

    @*<div>
            <div class="alert alert-danger alert-dismissible fade show rounded-0 mb-0">
                <div class="d-flex">
                    <i class="fa fa-trash fa-2x me-1"></i>
                    <div class="mb-0 ps-2">
                        <strong>Please Note!</strong> This action cannot be undone!
                    </div>
                </div>
                <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
            </div>
        </div>*@
</div>


<div class="modal-footer">
    <form asp-action="Remove" asp-route-id="@Model.Id">
        <input type="hidden" asp-for="Id" />

        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"> Close</button>
        <button type="submit" class="btn btn-danger"> Remove </button>
    </form>

</div>



@section scripts{
    <script type="text/javascript">
    </script>
}