﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.GenderLookUpVm;


@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }


<div class="modal-body">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th width="30%">Description</th>
                <td class="text-teal-900">@Model.Description</td>
            </tr>
            <tr>
                <th width="30%">Public Description</th>
                <td class="text-teal-900">@Model.Public_Description</td>
            </tr>
            <tr>
                <th width="30%">Action Date</th>
                <td class="text-teal-900">@Model.Action_Date</td>
            </tr>
            <tr>
                <th width="30%">TS</th>
                <td class="text-teal-900">@Model.TSLONG</td>
            </tr>
            <tr>
                <th width="30%">TSLONG</th>
                <td class="text-teal-900">@Model.TSLONG</td>
            </tr>
            <tr>
                <th width="30%">TSMAN</th>
                <td class="text-teal-900">@Html.DisplayFor(modelItem => Model.TSMAN)</td>
            </tr>
            <tr>
                <th width="30%">Is Active?</th>
                <td class="text-teal-900">@Html.DisplayFor(modelItem => Model.Active)</td>
            </tr>
        </tbody>
    </table>
    <br />
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"> Close</button>
</div>



@section scripts{
    <script type="text/javascript">
    </script>
}