﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.GenderLookUpVm;


@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }


<div class="modal-body">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th width="30%">Description</th>
                <td class="text-teal-900">@Model.Description</td>
            </tr>
            <tr>
                <th width="30%">Public Description</th>
                <td class="text-teal-900">@Model.Public_Description</td>
            </tr>
        </tbody>
    </table>
    <br />
</div>


<div class="modal-footer">
    <form asp-action="Deactivate" asp-route-id="@Model.Gender_Code_ID">
        <input type="hidden" asp-for="Gender_Code_ID" />

        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"> Close</button>
        <button type="submit" class="btn btn-danger"> Remove </button>
    </form>

</div>



@section scripts{
    <script type="text/javascript">
    </script>
}