﻿@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Pangea Web Portal">
        <meta name="author" content="Pangea Devs">

        <title> @Configuration["HostingSettings:SystemName"]</title>
        <partial name="_Head" />
    </head>


    <body>

        <div id="app" class="app">

            @RenderBody()

            <footer class="footer">
                <partial name="_Footer" />
                @RenderSection("scripts", required: false)
            </footer>
        </div>

    </body>
</html>
}