﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.CountryLookUpVm;


@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }


<div class="modal-body">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th>Name</th>
                <td class="text-teal-900"><strong>@Model.Country_Name</strong></td>
            </tr>
            <tr>
                <th>Code</th>
                <td class="text-teal-900"><strong>@Model.Country_Code</strong></td>
            </tr>
            <tr>
                <th width="50%">Default Language Code</th>
                <td class="text-teal-900"><strong>@Model.Default_Language</strong></td>
            </tr>
            @*<tr>
                <th>TS</th>
                <td class="text-teal-900"><strong>@Model.TSLONG</strong></td>
            </tr>
            <tr>
                <th>TSLONG</th>
                <td class="text-teal-900"><strong>@Model.TSLONG</strong></td>
            </tr>
            <tr>
                <th>TSMAN</th>
                <td class="text-teal-900"><strong>@Html.DisplayFor(modelItem => Model.TSMAN)</strong></td>
            </tr>*@
            <tr>
                <th>Is Active?</th>
                <td class="text-teal-900"><strong>@Html.DisplayFor(modelItem => Model.Active)</strong></td>
            </tr>
        </tbody>
    </table>
    <br />
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"> Close</button>
</div>



@section scripts{
    <script type="text/javascript">
    </script>
}