﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.ListLookUpsVm;
@{ ViewBag.Title = "Updates"; }

@{
    <h1 class="page-header"><strong><span class="fa fa-edit"></span> Updates  <small>Manage Updates</small></strong></h1>

    <div class="panel" data-sortable-id="ui-widget-11">
        <div class="panel-heading bg-teal-700 ui-sortable-handle text-white">
            <h4 class="panel-title"><strong>Listing</strong></h4>
        </div>
        <div class="panel-body" style="height: 75vh;">

            @if (TempData["MESSAGE"] != null)
            {
                <div class="alert alert-@TempData["KEY"] alert-dismissible fade show rounded-0 mb-0">
                    <div class="d-flex">
                        <i class="fa fa-check fa-2x me-1"></i>
                        <div class="mb-0 ps-2">
                            @TempData["MESSAGE"]
                        </div>
                    </div>
                    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert"></button>
                </div>
            }
            <br />

            <div style="padding-bottom:20px">
                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <input type="text" class="form-control" id="filter" placeholder="Search">
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Filter <i class="fa fa-search"></i></button>
                        <a type="button" asp-action="Create" class="btn btn-green">Create <i class="fa fa-plus"></i></a>
                    </div>
                </form>
            </div>
            <br />

            <div class="table-responsive" style="height: 100%;">
                <table class="table table-responsive-sm table-striped table-hover mb-0 align-middle">
                    <thead>

                        <tr>
                            <th width="20%"><b>NAME</b></th>
                            <th width="20%">AGE</th>
                            <th width="20%"><b>LOCATION</b></th>
                            <th width="20%"><b>STATUS</b></th>
                            <th width="60%"><b>ACTIONS</b></th>
                        </tr>
                    </thead>
                    <tr>
                        <td width="20%">
                            <strong class="text-blue-700">
                                Georgina Cleophas Mwale
                            </strong>
                        </td>
                        <td width="20%">
                            <strong class="text-blue-700">
                                9 YRS
                            </strong>
                        </td>
                        <td width="20%">
                            <strong class="text-blue-700">
                                Samburu
                            </strong>
                        </td>
                        <td width="20%">
                            <strong class="text-blue-700">
                                Active
                            </strong>
                        </td>
                        <td nowrap="" width="60%">
                            <div class="btn-group">
                                <a href="#" class="btn btn-info btn-sm w-90px">Actions</a>
                                <a href="#" class="btn btn-info btn-sm dropdown-toggle w-30px no-caret" data-bs-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a asp-action="Edit" asp-route-id="1" class="dropdown-item"> Edit </a>
                                    <div class="dropdown-divider"></div>
                                    <a asp-action="View" asp-route-id="1" class="dropdown-item">View</a>
                                    <div class="dropdown-divider"></div>
                                    <a asp-action="Remove" asp-route-id="1" class="dropdown-item modal-link">Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <br />
                <div class="dataTables_paginate paging_simple_numbers" id="data-table-default_paginate">

                  

                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function (e) {





        });

    </script>
}
