﻿@{ ViewBag.Title = "Home"; }

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; 
}


@{
    <div class="logoutpanel" style="padding-top: 10vh;height: 75vh;width: 60vh; background-color: inherit">
        <div class="widget-list rounded mb-4" data-id="widget">
            <div class="widget-list-item">
                <div class="widget-list-media">
                <i class="fa fa-circle-info"></i>
                </div>
                <div class="widget-list-content">
                    <h4 class="widget-list-title text-blue-500 text-muted-500"><strong> PANGEA ABOUT </strong></h4>
                </div>
            </div>
            <div class="widget-list-item">
                <div class="widget-list-media">
                    <img src="~/img/logo.jpg" width="50" alt="" class="rounded">
                </div>
                <div class="widget-list-content">
                    <h4 class="widget-list-title">Pangea Management Information System</h4>
                    <p class="widget-list-desc">Application Manager Module Version 1.0.0</p>
                    <p class="widget-list-desc">Build Version 1.0.0</p>

                </div>
            </div>
        </div>
    </div> 
}



@section scripts {
    <script type="text/javascript">
        $(document).ready(function (e) {





        });

    </script>
}