﻿@{ ViewBag.Title = "Home"; }

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@{
<div class="logoutpanel" style="padding-top: 10vh;height: 50vh;width: 60vh; background-color: inherit">
    <div class="widget-list rounded mb-4" data-id="widget">

        <div class="widget-list-item">
            <div class="widget-list-media">
                <i class="fa fa-question-circle"></i>
            </div>
            <div class="widget-list-content" >
                <h4 class="widget-list-title text-muted-500"><strong>PANGEA HELP LINES</strong></h4>
            </div>
        </div>
        <div class="widget-list-item">
            <div class="widget-list-media">
                <img src="~/img/email.png" width="50" alt="" class="rounded">
            </div>
            <div class="widget-list-content">
                <h4 class="widget-list-title">Email</h4>
                <p class="widget-list-desc"><strong>pangeaadmin@feedthechildren.org</strong></p>
            </div>
            <div class="widget-list-action">
                <a href="#" data-bs-toggle="dropdown" class="text-gray-500"><i class="fa fa-ellipsis-h fs-14px"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="#" class="dropdown-item">Send Email</a>
                </div>
            </div>
        </div>
        <div class="widget-list-item">
            <div class="widget-list-media">
                <img src="~/img/call.png" width="50" alt="" class="rounded">
            </div>
            <div class="widget-list-content">
                <h4 class="widget-list-title">Call</h4>
                <p class="widget-list-desc"><strong>+Direct: 405-815-4202</strong></p>
            </div>
            <div class="widget-list-action">
                <a href="#" data-bs-toggle="dropdown" class="text-gray-500"><i class="fa fa-ellipsis-h fs-14px"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="#" class="dropdown-item">Call</a>
                </div>
            </div>
        </div>
    </div>
</div>
}



@section scripts {
<script type="text/javascript">
    $(document).ready(function (e) {





    });

</script>
}