﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- CSS -->
<link rel="stylesheet" href="~/css/pangea.css" />
<link rel="stylesheet" href="~/seantheme/color-admin/admin/assets/css/vendor.min.css" />
<link rel="stylesheet" href="~/seantheme/color-admin/admin/assets/css/default/app.min.css" />
<link rel="stylesheet" href="~/seantheme/color-admin/admin/assets/plugins/jvectormap-next/jquery-jvectormap.css" />
<link rel="stylesheet" href="~/seantheme/color-admin/admin/assets/plugins/gritter/css/jquery.gritter.css" />
<link rel="stylesheet" href="~/seantheme/color-admin/admin/assets/plugins/nvd3/build/nv.d3.css" />
<link rel="stylesheet" href="~/seantheme/color-admin/admin/assets/plugins/simple-calendar/dist/simple-calendar.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
<!-- JS -->
