﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<PANGEA.DAL.Models.User> SignInManager
@inject UserManager<PANGEA.DAL.Models.User> UserManager

@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Pangea Web Portal">
        <meta name="author" content="Pangea Devs">

        <title> @Configuration["HostingSettings:SystemName"]</title>
        <partial name="_Head" />
    </head>


    <body>

        <div id="app" class="app app-header-fixed app-sidebar-fixed">

            <div id="header" class="app-header" style="background-color: #2d353c;">

                <div class="navbar-header">
                    <img class="navbar-brand" src="~/img/feedlogo.png" alt="logo">
                    <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div class="navbar-nav">
                    <div class="navbar-item" style="padding-right: 50px;">
                        <h5><span class="text-white-500"><b>PANGEA WEB PORTAL</b></span><span class="text-white-100" style="font-size: 10px;"><b>v2.0.0</b></span></h5>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="navbar-right">
                            @Html.AntiForgeryToken()

                            <div class="navbar-item navbar-user dropdown">
                                <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                                    <img src="~/img/user.png" alt="" />
                                    <span>
                                        <span class="d-none d-md-inline text-white">
                                            <strong>@UserManager.GetUserAsync(User).Result.FullName</strong>
                                            <br />
                                            <small><strong class="text-teal-500">@UserManager.GetUserAsync(User).Result.Title</strong></small>
                                        </span>

                                        <b class="caret"></b>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end me-1">
                                    <a href="#" class="dropdown-item">@UserManager.GetUserName(User)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item menu-link" asp-area="Identity" asp-page="/Account/Logout">Sign Out</a>
                                </div>
                            </div>
                        </form>

                    }
                    else
                    {
                        <div class="navbar-item navbar-user dropdown">
                            <div class="dropdown-menu dropdown-menu-end me-1">
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                            </div>
                        </div>
                    }
                </div>

            </div>

            <div id="sidebar" class="app-sidebar" style="background-color: #2d353c;">

                <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">

                    <div class="menu">
                        <div class="menu-profile">
                        </div>

                        <div id="appSidebarProfileMenu" class="collapse">
                        </div>

                        <partial name="_Sidebar" />


                        <div class="menu-item d-flex">
                            <a href="javascript:;" class="app-sidebar-minify-btn ms-auto"
                               data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="app-sidebar-bg"></div>
            <div class="app-sidebar-mobile-backdrop">
                <a href="#" data-dismiss="app-sidebar-mobile"
                   class="stretched-link"></a>
            </div>

            <div id="content" class="app-content">
                @RenderBody()
            </div>

            <footer class="main-footer">
                <partial name="_Footer" />
                @RenderSection("scripts", required: false)
            </footer>



            <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top"
               data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
        </div>

        <div class="modal fade-in" data-backdrop="static" data-keyboard="false" id="popup"></div>

    </body>
</html>
}