﻿
@using Microsoft.AspNetCore.Identity


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" class="navbar-right">
    @Html.AntiForgeryToken()
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="navbar-item navbar-user dropdown">
            <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                <img src="~/img/user.png" alt=""/>
                <span>
                    <span class="d-none d-md-inline text-white">
                        <strong>@UserManager.GetUserAsync(User).Result.FullName</strong>
                        @*<br />
                        <small><strong class="text-teal-500">@UserManager.GetUserAsync(User).Result.Role.Description</strong></small>*@
                    </span>

                    <b class="caret text-white"></b>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-1">
                <button type="submit" class="dropdown-item menu-link">Sign Out</button>
                @*<a class="dropdown-item menu-link" asp-area="Identity" asp-page="/Account/Login">Sign Out</a>*@

            </div>
        </div>

    }
    else
    {

        <div class="navbar-item navbar-user dropdown">
            <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                <img src="~/img/user.png" alt="" />
                <span>
                <b class="caret text-white"></b>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-1">
                <a class="dropdown-item menu-link" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
            </div>
        </div>
    }
</form>
