﻿@using Microsoft.AspNetCore.Identity
@using PANGEA.DAL.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{

    <div class="menu-item active">
        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="menu-link">
            <div class="menu-icon">
                <i class="fa fa-home"></i>
            </div>
            <div class="menu-text">Home</div>
        </a>
    </div>

    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
                <i class="fa fa-cog"></i>
            </div>
            <div class="menu-text">Settings</div>
            <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
            <div class="menu-item">
                <a asp-action="Index" asp-controller="Region" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Region</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="Country" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Country</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="Location" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Location</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="Gender" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Gender</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="Chore" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Chore</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="ContentType" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Content Type</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="LivesWith" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Lives With</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="PersonalityType" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Personality Type</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="GradeLevel" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Grade Level</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="FavouriteLearning" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Favourite Learning</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="FavouriteActivity" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Favourite Activity</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="DeclineReason" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Decline Reason</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="ChildRemoveReason" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Child Remove Reason</div>
                </a>
            </div>
        </div>
    </div>

    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
                <i class="fa fa-book"></i>
            </div>
            <div class="menu-text">Help</div>
            <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
            <div class="menu-item">
                <a asp-action="About" asp-controller="Help" asp-area="Admin" class="menu-link">
                    <div class="menu-text">About</div>
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="ContactUs" asp-controller="Help" asp-area="Admin" class="menu-link">
                    <div class="menu-text">Contact Us</div>
                </a>
            </div>
        </div>
    </div>

}