﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.GenderLookUpVm;


@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }


<div class="modal-body">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th>Gender</th>
                <td class="text-teal-900"><strong>@Model.Gender</strong></td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="text-teal-900"><strong>@Model.Description</strong></td>
            </tr>
            <tr>
                <th>Public Description</th>
                <td class="text-teal-900"><strong>@Model.Public_Description</strong></td>
            </tr>
        </tbody>
    </table>
    <br />
    <div>
        <div class="alert alert-danger alert-outline-coloured alert-dismissible" role="alert">
           
            <div class="alert-message">
                <div class="alert-icon">
                    <p><i class="fa fa-trash"></i><span>   </span><strong>Please Note!</strong> This action cannot be undone!</p>   

                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal-footer">
    <form asp-action="RemoveConfirmed" asp-route-id="@Model.Gender_Code_ID">
        <input type="hidden" asp-for="Id" />

        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"> Close</button>
        <button type="submit" class="btn btn-danger"> Remove </button>
    </form>
</div>



@section scripts{
    <script type="text/javascript">
    </script>
}