﻿@using X.PagedList.Mvc.Core;
@model PANGEA.DAL.ViewModels.GradeLevelLookUpVm;


@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }


<div class="modal-body">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th>Grade Level</th>
                <td class="text-teal-900"><strong>@Model.Grade_Level</strong></td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="text-teal-900"><strong>@Model.Description</strong></td>
            </tr>

            <tr>
                <th>Public Description</th>
                <td class="text-teal-900"><strong>@Model.Public_Description</strong></td>
            </tr>
        </tbody>
    </table>
    <br />
</div>


<div class="modal-footer">
    <form asp-action="RemoveConfirmed" asp-route-id="@Model.Grade_Level_Code_ID">
        <input type="hidden" asp-for="Grade_Level_Code_ID" />

        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"> Close</button>
        <button type="submit" class="btn btn-danger"> Remove </button>
    </form>

</div>



@section scripts{
    <script type="text/javascript">
    </script>
}